<div class="big-card__container">
    <div class="big-card__photo">
        <img src="assets/imgs/eren-yaeger.jpg" alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Eren chega a Marley</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ab repellendus libero excepturi nemo dolorem necessitatibus nam eos accusamus. Eveniet, non?</a>
        </p>
    </div>
</div>