<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="articles">
    <div class="main-article">
        <app-big-card
            photoCover="assets/imgs/eren-yaeger.jpg"
            cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque incidunt ea quae necessitatibus officia sapiente soluta, culpa tenetur labore corporis eius ut laudantium vel voluptatibus ad explicabo nulla molestias?"
            cardTitle="Eren Yaeger chega a Marley!"
        ></app-big-card>
    </div>
    <div class="side-articles">
        <app-small-card
            photo="assets/imgs/eren-yaeger.jpg"
            title="Eren chega a Marley"
        ></app-small-card>
        <app-small-card
            photo="assets/imgs/eren-yaeger.jpg"
            title="Eren chega a Marley"
        ></app-small-card>
        <app-small-card
            photo="assets/imgs/eren-yaeger.jpg"
            title="Eren chega a Marley"
        ></app-small-card>
    </div>
</div>